%blockquote
  = link_to 'Классы заведений', institution_classes_path
  >
  = link_to resource.institution_class.title, resource.institution_class
  >
  = resource.title

= render 'form'

%br
%br
= link_to 'Новый аттрибут', new_institution_class_institution_kind_parameter_path(resource.institution_class,resource), :class => 'ym-button ym-add'

- if resource.attrs.any?
  %table.bordertable
    %thead
      %th Аттрибут
      %th Тип
      %th Обязательный
      %th Участвует в поиске
      %th
    %tbody
      = render resource.attrs