%blockquote
  = link_to 'Классы заведений', institution_classes_path
  >
  = resource.title_was

= render :partial => 'form'

%br
%br
= link_to 'Новый тип', new_institution_class_institution_kind_path(resource), :class => 'ym-button ym-add'
%table.bordertable
  %thead
    %th Типы заведений
    %th{:width =>'200px'}
  %tbody
    = render resource.institution_kinds