= semantic_form_for resource do |f|
  = f.inputs do
    = f.input :title, :label => 'Класс заведения'
    = f.buttons do
      = f.commit_button 'Сохранить'
      - if resource.persisted?
        = link_to 'удалить', resource_path(resource), :method => :delete
      - else
        = link_to 'Отмена', collection_path
